<div class="about">
    <span class="git">Ideabox</span> is experimental project by <span class="git name">Ratnadeep Bhttacharyya</span> to build a place where creators can
    discuss and improve themselves and with help of community improve there projects may it be a software
    development, IoT, video editing, logo design, image editing are few others.

    At present app is very new and can be called in alpha phase with basic input and authentication and missing
    many features. For developers who want to know how it works please visit github site
    <a href="https://github.com/ratnadeep007/ideabox" class="link git" target="_blank"><i class="fa fa-github mr-1" aria-hidden="true"></i> Ideabox Github</a> and contribute to
    improve it. <span class="git">Clone it, improve it, test it and push it.</span>

    Project is using firebase as backend with Angular as frontend with angular specific material styling.

    <h4>For developers</h4>
    Code is still not mature and you can find repetition of code in many places. As soon as possible I will
    refactor the code.
</div>
